﻿@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}


@mixin for-size($size) {
    @if $size == phone-only {
        @media (max-width: 576px) {
            @content;
        }
    }
    @else if $size == phone-landscape-up {
        @media (min-width: 568px) {
            @content;
        }
    }
    @else if $size == tablet-portrait-up {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $size == tablet-landscape-up {
        @media (min-width: 900px) {
            @content;
        }
    }
    @else if $size == desktop-up {
        @media (min-width: 1200px) {
            @content;
        }
    }
}

@mixin for-orient($or) {
    @if $or == port {
        @media (orientation: portrait) {
            @content;
        }
    }
    @else if $or == land {
        @media (orientation: landscape) {
            @content;
        }
    }
}

$darkblue: #031560;
$menu-s: 9vh;
$menu-m: 11vh;
$menu-l: 13vh;
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

