﻿@import url("https://use.fontawesome.com/releases/v5.0.1/css/all.css");
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import 'bootstrap.css';
@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}


@mixin for-size($size) {
    @if $size == phone-only {
        @media (max-width: 576px) {
            @content;
        }
    }
    @else if $size == phone-landscape-up {
        @media (min-width: 568px) {
            @content;
        }
    }
    @else if $size == tablet-portrait-up {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $size == tablet-landscape-up {
        @media (min-width: 900px) {
            @content;
        }
    }
    @else if $size == desktop-up {
        @media (min-width: 1200px) {
            @content;
        }
    }
}
@mixin for-orient($or) {
    @if $or == port {
        @media (orientation: portrait) {
            @content;
        }
    }
    @else if $or == land {
        @media (orientation: landscape) {
            @content;
        }
    }
}
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}
$darkblue: #031560;
$menu-s: 9vh;
$menu-m: 11vh;
$menu-l: 13vh;
body {
    background: url('https://www.toptal.com/designers/subtlepatterns/patterns/gplaypattern.png');
    font-family: 'Roboto', sans-serif;
}





/*ADD PRESENT*/
.addPresent {
    position: absolute;
    background: url('https://assets.rbl.ms/16979358/980x.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.form-add {
    overflow: hidden;
    position: relative;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.2);
    font-size: 0.7rem;

    @include for-size(phone-only) {
        height: 80%;
        width: 80%;
        margin-top: $menu-s;
    }

    @include for-size(phone-landscape-up) {
        height: 80%;
        width: 50%;
        margin-top: $menu-m;
    }

    @include for-size(tablet-portrait-up) {
        margin-top: $menu-l;
        width: 75%;
    }

    @include for-size(tablet-landscape-up) {
        width: 50%;
    }

    @include for-size(desktop-up) {
        width: 30%;
    }

    @include for-orient(port) {
        height: 87%;
        width: 90%;
    }


    .name {
        background: linear-gradient(to right, #FFFFFF, #C1C3FF);
        height: 7vh;
        border-radius: 30px 30px 0 0;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 1.3em;
    }

    .new-present-form {
        height: 90%;
        margin: 4% 0;
        width: 85%;

        .text, textarea {
            background: rgba(255,255,255,0.9);
            width: 100%;
            padding: 1.5vh 2vw;
            height: 75%;
            border: 1px solid rgba(170,170,170, 0.6);
            border-radius: 2.5vh;

            &:focus {
                border: 1px solid steelblue;
                outline: none;
                background: rgba(255,255,255,1);
            }
        }

        .h-input {
            height: 10%;
        }

        .h-15 {
            height: 15%;
        }

        .has-error {
            border: 1px solid #F8B9B9;
            -webkit-box-shadow: 0 0 0 0.2rem rgba(236,69,69, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(236,69,69, 0.25);

            &:focus {
                border: 1px solid #F8ADAD;
                outline: none;
                background: rgba(255,255,255,1);
            }
        }

        .error {
            color: #E53E3E;
            width: 100%;
            text-align: center;
        }

        .but {
            margin: 0 2vh;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

        .gender {
            height: 8%;
            margin-top: -4%;

            input[type="radio"], button {
                display: none;
            }

            label {
                margin: 0 1%;

                @each $gender, $content, $color in (female, 221, #D2A2C6), (both, 1db, #C2A6D2), (male, 222, #A2AAD2) {
                    .#{$gender} {
                        &::before {
                            font-family: FontAwesome;
                            content: "\f#{$content}";
                            color: #{$color};
                            font-size: 3vh;
                        }
                    }
                }

                @each $gender, $color in (female, #AE0082), (both, #6B00A9), (male, #001CAA) {
                    .#{$gender}-checked {
                        &::before {
                            color: $color;
                        }
                    }
                }
            }
        }
    }
}





/*TAGS*/
.tags {
    background: rgba(255,255,255,0.7);
    padding: 1.5vh 1vw;
    border-radius: 2.5vh;
}
.tag {
    font-family: 'Lobster', cursive;
    margin: 0 1vw;
    font-size: 0.8rem;

    .icon {
        height: 2.5vh;
        width: 2.5vh;
    }
}
.tag-check {
    @extend .tag;
    color: black;
    .icon {
        color: black;
    }
}
.tag-proposal {
    @extend .tag;
    color: rgba(0, 0, 0, 0.3);
    &:hover {
        color: rgba(0, 0, 0, 0.5);
        .icon {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}
.popular-tags {
    @extend .tags;

    @include for-orient(port) {
        width: 30vw;
    }

    @include for-orient(land) {
        width: 20vw;
    }

    overflow: hidden;
    height: 17vh;

    .tag {
        font-size: 1rem;
    }
}
.present-tags {
        @extend .tags;
        width: 100%;
        height: 15vh;
    }






/*MENU*/
.image-fixed {
    position: sticky;
    top: 0;
    z-index: 1;
}
.home-image {
        background: url(https://wallpaperscraft.ru/image/abstrakciya_seryy_siniy_dym_441_1920x1080.jpg);
        background-size: cover;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin-bottom: 3vh;
        @include for-size(phone-only) {
            height: 35vh;
            background-size: 250%;
            background-position: center top;
        }

        @include for-size(phone-landscape-up) {
            height: 40vh;
            background-size: 150%;
            background-position: center top;
        }

        @include for-size(tablet-landscape-up) {
            background-size: cover;
        }

        @include for-size(desktop-up) {
            height: 45vh;
        }
    }
.menu {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.25s ease;
    width: 100%;

    @include for-size(phone-only) {
        height: $menu-s;
    }

    @include for-size( phone-landscape-up ) {
        height: $menu-m;
    }

    @include for-size(tablet-portrait-up) {
        height: $menu-l;
    }

    .content {
        display: flex;
        width: 75%;
        justify-content: flex-start;
        vertical-align: middle;
        height: 100%;
        padding-left: 10%;
    }

    .nav-brand {
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        .main {
            color: black;
            margin: 0;

            @include for-orient(port) {
                font-size: 4vw;
                letter-spacing: 1.1vw;
            }

            @include for-orient(land) {
                font-size: 3vh;
                letter-spacing: 1vh;
            }
        }

        &:focus, &:hover {
            text-decoration: none;
        }
    }

    .icons {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        padding-right: 10%;

        .nav-icon {
            @include for-orient(port) {
                margin: 2vw;
                height: 5vw;
                width: 5vw;
            }

            @include for-orient(land) {
                margin: 2vh;
                height: 5vh;
                width: 5vh;
            }
        }
    }
}
.sps--abv {
    background-color: transparent;
    color: #000;
}
.sps--blw {
    background-color: #fff !important;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
   
}
.no-shadow {
box-shadow: none !important;
}
$background-color: #2A2E37;
$search-bg-color: #242628;
$icon-color: black;
$transition: all .5s ease;
.search {
    font-size: 0.7em;
    margin-left: 2vw;
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    position: relative;
    transition: $transition;

    &:before {
        content: '';
        width: 0.3vh;
        height: 4vh;
        position: absolute;
        left: 0;
        background-color: $icon-color;
        transition: $transition;
    }

    &.open {
        @include for-orient(port) {
            width: 75%;
        }

        @include for-orient(land) {
            width: 50%;
        }

        &:before {
            height: 3vh;
            margin-left: 1vh;
        }
    }
}
.search-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    color: black;
    padding: 0 3vw;
    font-size: 12px;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}
.search-button {
    width: 4vh;
    height: 4vh;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5vh;
    cursor: pointer;
}
.search-icon {
    width: 3vh;
    height: 3vh;
    border-radius: 3vh;
    border: 0.2vh solid $icon-color;
    display: block;
    position: relative;
    transition: $transition;

    &:after, &:before {
        content: '';
        width: 0.2vh;
        height: 1.5vh;
        position: absolute;
        right: -0.02vh;
        top: 2.3vh;
        display: block;
        background-color: $icon-color;
        transform: rotate(-45deg);
        transition: $transition;
    }

    .open & {
        margin: 0;
        width: 4vh;
        height: 4vh;
        border-radius: 4vh;

        &:before {
            transform: rotate(52deg);
            right: 1.5vh;
            top: 1.5vh;
            height: 2vh;
        }

        &:after {
            transform: rotate(-230deg);
            right: 1.5vh;
            top: 0.5vh;
            height: 2vh;
        }
    }
}
.f-filter {
    color: black;
    width: 3vh;
    height: 3vh;
    position: absolute;
    right: -5vh;
}
.filter-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    font-size: 0.7em;
    z-index: 1;
    background: rgba(255,255,255, 0.4);

    @include for-size(phone-only) {
        height: 35vh;
        padding: $menu-s 5% 0 5%;
    }

    @include for-size(phone-landscape-up) {
        height: 40vh;
        padding: $menu-m 5% 0 5%;
    }

    @include for-size(desktop-up) {
        height: 45vh;
        padding: $menu-l 20% 0 20%;
    }

    .text {
        @include for-orient(port) {
            width: 100%;
        }

        @include for-orient(land) {
            width: 85%;
        }

        height: 4.5vh;
        background: rgba(255,255,255,1);
        margin: 1vh;
        padding: 1.5vh 1.5vw;
        border: 1px solid rgba(170,170,170, 0.6);
        border-radius: 2.5vh;

        &:focus {
            border: 1px solid steelblue;
            outline: none;
            background: rgba(255,255,255,1);
        }
    }

    .text-tag {
        @extend .text;
     
            width: 70%;
    }

    .gender {
        height: 8%;

        input[type="radio"], button {
            display: none;
        }

        label {
            margin: 0 2vw;

            @each $gender, $content, $color in (female, 221, #D2A2C6), (both, 1db, #C2A6D2), (male, 222, #A2AAD2) {
                .#{$gender} {
                    &::before {
                        font-family: FontAwesome;
                        content: "\f#{$content}";
                        color: #{$color};
                        font-size: 3vh;
                    }
                }
            }

            @each $gender, $color in (female, #AE0082), (both, #6B00A9), (male, #001CAA) {
                .#{$gender}-checked {
                    &::before {
                        color: $color;
                    }
                }
            }
        }
    }

    .icons {
        position: relative;
        bottom: 0;
        height: 10%;
        margin-top: 1.5vh;

        .icon {
            transition: $transition;
            color: #112368;
            height: 4vh;
            width: 4vh;
            margin: 0 2vh;

            &:hover {
                height: 4.5vh;
                width: 4.5vh;
            }
        }
    }
}





/*PROFILE*/
.profile {
    position: absolute;
    background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Vd3bj2jPe/smoke-background-abstract-blue-smoke-cloud-smoke-in-slow-motion-white-smoke-slowly-floating-through-space-against-black-background-smoke-effect-fog-effect-smoke-machine-studio-shot_rnxne320__F0000.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-size: 0.7em;

    .name {
        position: absolute;
        height: 5vh;
        font-family: 'Lobster', cursive;
        font-size: 3em;
        top: -2vh;
        color: $darkblue;
    }

    .all-content {
        @extend .profile-div;
        background: rgba(255,255,255,0.2);
        border-radius: 2vh;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);

        .button {
            width: 100%;
            display: flex;
            justify-content: center;
            transition: $transition;
            position: absolute;
            bottom: 3vh;

            &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

        .user-present {
            @include for-orient(port) {
                height: 20vw;
                width: 20vw;
            }

            @include for-orient(land) {
                height: 15vh;
                width: 15vh;
            }

            margin: 0.5vw;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            @include for-orient(port) {
                padding: 3vw;
            }

            @include for-orient(land) {
                padding: 1vh;
            }
        }

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to right, #FFFFFF, #C1C3FF);
            width: 100%;
            border-radius: 2vh 2vh 0 0;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 1.3em;
            height: 6vh;
        }
    }

    .edit-user {
        @extend .profile-div;
        background: rgba(255,255,255,0.2);
        border-radius: 2vh;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);

        @include for-orient(port) {
            width: 80vw;
            height: 80vh;
        }

        @include for-orient(land) {
            width: 40vw;
            height: 78vh;
        }

        @include for-size(phone-only) {
            width: 90vw;
            height: 85vh;
        }
    }

    .profile-div {
        margin: auto;
        display: block;
        position: relative;

        @include for-size( phone-landscape-up ) {
            margin-top: $menu-m;
        }

        @include for-size(tablet-portrait-up) {
            margin-top: $menu-l;
        }

        @include for-orient(port) {
            width: 80vw;
            height: 80vh;
        }

        @include for-orient(land) {
            width: 60vw;
            height: 78vh;
        }

        @include for-size(phone-only) {
            width: 90vw;
            height: 85vh;
            margin-top: 10vh;
        }
    }

    .profile-area {
        @extend .profile-div;

        .info {
            border-radius: 2vh;
            background: rgba(255,255,255,0.2);
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
            display: block;
            position: relative;
            padding: 1vh;

            @include for-orient(port) {
                height: 45%;
            }

            @include for-orient(land) {
                height: 45vh;
            }

            .main {
                width: 30%;

                .img {

                    @include for-orient(port) {
                        width: 15vh;
                        height: 15vh;
                    }

                    @include for-orient(land) {
                        width: 20vh;
                        height: 20vh;
                    }

                    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
                }

                .social-icon {
                    margin: 5px;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    color: #3A4260;

                    &:hover {
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }

                @each $item, $content, $color in (insta, 16d, #517fa4), (tel, 3fe, #0088cc), (face, 39e, #3b5998) {
                    .#{$item} {
                        &::before {
                            font-family: "Font Awesome 5 Brands";
                            content: "\f#{$content}";
                            font-size: 3vh;
                        }

                        &:hover::before {
                            color: #{$color};
                        }
                    }
                }

                .button {
                    height: 4vh;
                    width: 70%;
                    position: relative;
                    border-radius: 1vh;
                    margin: 0.5vh 0;
                    background: rgba(255,255,255,0.2);
                    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
                    transition: $transition;

                    &::before {
                        position: absolute;
                        border-radius: 1vh;
                        top: 0;
                        right: 0;
                        content: '';
                        width: 100%;
                        height: 0%;
                        background: transparent;
                        background: rgba(255,255,255,1);
                        transition: $transition;
                    }

                    .icon {
                        transition: $transition;
                        position: absolute;
                        left: 47%;
                        height: 2vh;
                        width: 0vh;
                    }

                    &:hover {
                        &::before {
                            height: 100%;
                        }

                        .icon {
                            width: 2vh;
                        }
                    }
                }
            }

            .other-data {
                width: 55%;
                margin-top: 7%;

                .age {
                    font-weight: bold;
                }

                .likes {
                    overflow: hidden;

                    .like-title {
                        font-weight: bold;
                        margin-right: 5%;
                    }

                    input {
                        width: 4vh;
                        border: none;
                        background-color: transparent;
                        border-radius: 2vh;
                        transition: all 300ms ease-in-out;
                        margin: 0.2vh;
                        padding: 0.4vh 1vh;

                        &:focus {
                            width: 10vh;
                            padding: 0.4vh 1.5vh;
                            outline: none;
                            background-color: #fbfbfb;
                        }

                        &::-webkit-input-placeholder {
                            color: $darkblue;
                        }

                        &::-moz-placeholder {
                            color: $darkblue;
                        }
                    }
                }
            }
        }

        .content {
            @include for-orient(port) {
                -webkit-box-orient: vertical !important;
                -webkit-box-direction: normal !important;
                -ms-flex-direction: column !important;
                flex-direction: column !important;
                justify-content: space-around;
                height: 42vh;
                width: 100%;
            }

            @include for-orient(land) {
                -webkit-box-orient: horizontal !important;
                -webkit-box-direction: normal !important;
                -ms-flex-direction: row !important;
                flex-direction: row !important;
                justify-content: space-between;
                height: 30vh;
                width: 100%;
            }
        }

        .friends {
            @extend .fields;
            height: 45%;
            width: 100%;
            margin: auto;

            .user-present {
                @include for-orient(port) {
                    height: 10vh;
                    width: 10vh;
                }

                @include for-orient(land) {
                    height: 10vh;
                    width: 10vh;
                }

                margin: 1vh;
                background: rgba(255,255,255,0.4);
            }
        }

        .presents {
            @extend .fields;

            @include for-orient(port) {
                height: 45%;
                width: 100%;
            }

            @include for-orient(land) {
                height: 100%;
                width: 48%;
            }
        }

        .fields {
            border-radius: 2vh;
            background: rgba(255,255,255,0.2);
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
            position: relative;
            overflow: hidden;
            display: flex;
            -webkit-box-orient: vertical !important;
            -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
            flex-direction: column !important;

            .items {
                display: flex;
                flex-wrap: nowrap;
                height: 100%;
                width: 80%;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;
            }

            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to right, #FFFFFF, #C1C3FF);
                width: 100%;
                border-radius: 2vh 2vh 0 0;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 1.3em;
                height: 25%;
            }
        }

        .plus-div {
            .plus {
                @include for-orient(port) {
                    margin: 1.5vh;
                }

                @include for-orient(land) {
                    margin: 4vh;
                }

                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                .plus {
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }

        .right-arrow {
            height: 10vh;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }

    .user-present {
        @include for-orient(port) {
            height: 10vh;
            width: 10vh;
        }

        @include for-orient(land) {
            height: 15vh;
            width: 15vh;
        }

        margin: 1vh;
        background: rgba(255,255,255,0.4);
    }
}





/*PRESENTS*/
.present {
    height: 20vh;
    position: relative;
    padding-left: 10vh;
    @include for-orient(port) {
        width: 90vw;
        margin: 2vh 5vw;
    }

    @include for-orient(land) {
        width: 40vw;
        margin: 2vh 2vw;
    }

    .title {
        position: absolute;
        font-family: 'Lobster', cursive;
        font-size: 4vh;
        top: -2vh;
    }

    .info {
        width: 100%;
        font-size: 0.7em;
        border-radius: 0 3vh 3vh 0;
        height: 100%;
        padding: 1em 0;
        display: block;
        background: rgba(255,255,255,0.5);
        box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.3);
    }

    .img {
        height: 20vh;
        width: 20vh;
        position: absolute;
        left: 0;
        background-size: cover;
    }

    .arrow-right::before {
        font-family: FontAwesome;
        content: "\f105";
        font-size: 3vh;
        margin: 5px;
    }

    .red {
        stop-color: red;
    }

    .blue {
        stop-color: blue;
    }

    .gradient-text {
        fill: url(#gradient);
        font-size: 2rem;
        font-weight: bold;
    }

    .scale {
        transform: scale(-1,1.1) translate(-140, -10);
    }

    .icon {
        width: 48px;
        height: 48px;
        display: inline-block;
        -webkit-mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg) no-repeat 50% 50%;
        mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg);
        background-color: red;
    }

    .like-false::before {
        font-family: 'Font Awesome 5 Free';
        content: "\f004";
        font-size: 3vh;
        font-weight: 400;
    }

    .like-true::before {
        font-family: 'Font Awesome 5 Free';
        content: "\f004";
        color: $darkblue;
        font-size: 3vh;
        font-weight: 900;
    }

    .bottom {
        height: 5vh;
        font-size: 1.2em;
        color: #142C7E;
        padding: 2vh;
    }

    .about {
        margin-top: 4.5vh;
        margin-left: 13vh;
        height: 8vh;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .settings {
        position: absolute;
        top: 2vh;
        right: 4vh;
    }

    .nav {
        color: $darkblue;
        font-weight: 400;
        margin-left: 35%;

        &:hover {
            color: $darkblue;
        }
    }
}




/*REGISTRATION LOGIN*/
.log-form {
    font-family: 'Lato', sans-serif;
    font-size: 0.6em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    input[type="radio"] {
        display: none;
    }

    @include for-orient(port) {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        width: 100vw;
        height: 100vh;
    }

    @include for-orient(land) {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        margin-top: 20vh;
        width: 50vw;
        height: 60vh;
    }

    .image {
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        background-image: url('https://pm1.narvii.com/6639/7f76c797c61e19f18e4b8cda0a3b64803f5743d4_hq.jpg');

        @include for-orient(port) {
            width: 100%;
            height: 30%;
            z-index: 3;
        }

        @include for-orient(land) {
            width: 25vw;
            height: 100%;
        }
    }

    .content {
        background: white;
        padding: 4vh 4vw 3.5vh 4vw;

        @include for-orient(port) {
            width: 100%;
            height: 70%;
        }

        @include for-orient(land) {
            width: 25vw;
            height: 100%;
        }

        .login-error {
            color: #BF0000;
        }

        .name {
            height: 10%;
            font-size: 3em;
            letter-spacing: 0.45em;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .forget-password {
            width: 70vw;
            height: 30vh;
            margin: auto;
        }

        .tabs {
            height: 10%;
            width: 100%;
            border-bottom: 1px solid #d9d9d9;
            padding: 0;
            margin-top: -2vh;

            .tab {
                display: inline-block;
                padding: 20px 10px 10px;
                cursor: pointer;
                transition: all 0.1s ease-in-out;
                text-transform: uppercase;
                color: #d9d9d9;
                margin: 0;

                &:hover {
                    color: black;
                }
            }

            .tab-active {
                color: black;
                border-bottom: 1px solid black;
            }
        }

        .form {
            height: 70%;
            width: 90%;

            .inpt {
                display: block;
                width: 100%;
                height: 4.5vh;
                padding: 2vh 1vh;
                border: 1px solid #EAEAEA;
                background: white;
                border-radius: 2px;

                &:focus {
                    border: 1px solid #B9D0F8;
                    -webkit-box-shadow: 0 0 0.5em 0.2rem rgba(69, 130, 236, 0.25);
                    box-shadow: 0 0 0.5em 0.2rem rgba(69, 130, 236, 0.25);
                }
            }

            .has-error {
                border: 1px solid #F8B9B9;
                -webkit-box-shadow: 0 0 0.5em 0.2rem rgba(236,69,69, 0.25);
                box-shadow: 0 0 0.5em 0.2rem rgba(236,69,69, 0.25);
                margin-bottom: 1vh;
            }

            .error {
                color: rgba(236,69,69, 1);
            }
        }

        .sbm-but {
            height: 4.5vh;
            width: 100%;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: black;
            border: 1px solid #031868;
            background: transparent;
            border-radius: 2px;

            &:hover {
                background-color: #031868;
                color: white;
                transition: all 0.2s;
            }
        }

        .gender {
            input[type="radio"], button {
                display: none;
            }

            label {
                height: 7vh;
                width: 7vh;
                font-size: 3vh;
                font-weight: bold;

                @each $gender, $content, $color in (female, 221, #7D001B), (male, 222, #052E7D) {
                    .#{$gender} {
                        &::before {
                            font-family: FontAwesome;
                            content: "\f#{$content}";
                            color: #d9d9d9;
                            font-size: 3vh;
                        }
                    }

                    .#{$gender}-checked {
                        &::before {
                            color: $color;
                        }
                    }
                }
            }
        }

        .social-icon {
            border-radius: 50%;
            background-clip: content-box;
            padding: 3px;
            height: 7vh;
            width: 7vh;
            margin: 7px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            &:hover {
                padding: 5px;
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

        .tw {
            border: 1px dashed #3CF;
            background-color: #3CF;

            &::before {
                font-family: FontAwesome;
                content: "\f099";
                color: white;
                font-size: 3vh;
            }
        }

        .go {
            border: 1px dashed #DC4A38;
            background-color: #DC4A38;

            &::before {
                font-family: FontAwesome;
                content: "\f0d5";
                color: white;
                font-size: 3vh;
            }
        }

        .face {
            border: 1px dashed #3B5998;
            background-color: #3B5998;

            &::before {
                font-family: FontAwesome;
                content: "\f09a";
                color: white;
                font-size: 3vh;
            }
        }

        input[type="checkbox"] {
            transition: all 0.1s ease-in-out;
            position: absolute;
            opacity: 0;
            z-index: -1;
        }

        .check-label {
            font-weight: bolder;
        }

        .checkbox-false, .checkbox-true {
            display: inline-block;
            position: relative;
            transform-origin: center;
            width: 2vh;
            height: 2vh;
        }

        .checkbox-false {
            background-color: rgba(0,0,0,0.1);

            .check {
                width: 0vh;
                color: transparent;
                -moz-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                -webkit-transition: all 0.2s linear;
                transition: all 0.2s linear;
            }

            &:hover {
                .check {
                    color: $darkblue;
                    width: 1.5vh;
                }
            }
        }

        .checkbox-true {
            background-color: rgba(23,118,221, 0.9);
            border-radius: 3px;

            .check {
                width: 1.3vh;
                color: white;
                -moz-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                -webkit-transition: all 0.2s linear;
                transition: all 0.2s linear;
            }
        }
    }
}





    /*ANIMATION*/
    @include keyframes(fadeInDown) {
        0% {
            opacity: 0;
            -moz-transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            -moz-transform: translateY(0);
        }
    }

    @include keyframes(scaleIn) {
        0% {
            opacity: 0;
            transform: scale(1);
        }

        100% {
            opacity: 1;
            transform: scale(1.1);
        }
    }

    @include keyframes(opac) {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        -moz-animation-name: fadeInDown;
        -o-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

    .scaleIn {
        -webkit-animation-name: scaleIn;
        -moz-animation-name: scaleIn;
        -o-animation-name: scaleIn;
        animation-name: scaleIn;
    }

    .opac {
        -webkit-animation-name: opac;
        -moz-animation-name: opac;
        -o-animation-name: opac;
        animation-name: opac;
    }


    .animated {
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
    }

    .navlink-no:hover {
        text-decoration: none;
    }

    .navlink-no:focus {
        text-decoration: none;
    }